.slider-h1-mb{
    margin-bottom: 1rem;
}
.slider-p-mb{
    margin-bottom: 3rem;
}
.slider-btn-mb{
    margin-bottom: 8rem;
}
.slider-h1-fs{
    font-size: 72px;
}
.slider-p-fs{
    font-size: 20px;
}
.w-h-register-btn{
    width: 8rem;
    height: 3rem;
}
.p-join-section{
    padding: 40px 0 40px 0;
}